<%- css(['/css/archive.css']) %>
<!-- 返回按扭 -->
<a href="javascript:history.back(-1)" class="cd-nav-trigger"> 
  <span class="cd-nav-icon"></span>
  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
  <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a> 
<div class="content">
  <% var tempYear %>
  <% var posts = site.posts.sort('date') %>
  <% posts.each(function(post, i){ %>
    <% var currentYear = parseInt(date(post.date, 'YYYY')); %>
    <% if (tempYear != currentYear){ %>
      <% tempYear = currentYear %>
      <article>
        <h3><%- currentYear%></h3>
    <% } %>
        <section>
          <!-- 取巧方法，只认第一个分类 -->
          <% var category = Object.values(post.categories.data[0])[0]%>
          <span class="point-time point-<%= __('color.' + category)%>"></span>
          <time datetime="<%- date(post.date, 'YYYY-MM')%>">
            <span><%- date(post.date, 'MMMM DD,')%></span>
          </time>
          <aside>
            <p class="things"><%= post.title%></p>
            <p class="brief"><span class="text-<%= __('color.' + category)%>"><%= category%>
            </span></p>
          </aside>
        </section>
    <% if (!posts.eq(i + 1) || currentYear != parseInt(date(posts.eq(i + 1).date, 'YYYY'))){ %>
      </article>
    <% } %>
  <% }) %>
</div>