<article class="wrapper style1 align-left">
  <div class="inner">
    <div class="header">
      <h1 class="title"><%- post.title %></h1>
      <div class="stuff">
        <span><%- date(post.date, 'MMMM DD, YYYY') %></span>
        <span>字数 <%- strip_html(post.content).length %></span>
        <span>评论 <span id="valine-count"></span></span>
        <span id="busuanzi_container_site_pv">阅读 <span id="busuanzi_value_site_pv"></span></span>
      </div>
    </div>
    <%- post.content %>
    <!-- 文章标签 -->
    <div class="tags">
      <span>标签：</span>
      <% post.tags.each(function(tag){%>
        <a href="<%- url_for(tag.path) %>" class="tag"><%= tag.name %></a>
      <% }) %>
    </div>
    <!-- 上一篇和下一篇 -->
    <hr>
    <div class="post-nav">
        <% if (post.prev){ %>
        <div class="post-nav-prev post-nav-item">
            <a href="<%- url_for(post.prev.path) %>" ><%= post.prev.title %><i class="fa fa-chevron-left"></i></a>
        </div>
        <% } %>
        <% if (post.next){ %>
        <div class="post-nav-next post-nav-item">
            <a href="<%- url_for(post.next.path) %>" ><%= post.next.title %><i class="fa fa-chevron-right"></i></a>
        </div>
        <% } %>
    </div>


    <!-- valine评论 -->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script src='//cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js'></script>
    <div id="vcomments"></div>
    <script async>
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: '<%- theme.valine.API_ID %>',
        appKey: '<%- theme.valine.API_Key %>'
      })
      valine.Q(location.pathname.replace(/index\.html?$/, '')).count().then(num => {
        document.getElementById("valine-count").innerHTML = num;
      })
    </script>
  </div>
</article>