<!-- 侧边栏 -->
<%- partial('_partial/sidebar') %>
<!-- 内容区域 -->
<div id="wrapper" class="divided banner">
  <% page.posts.each(function(post){ %>
    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
      <div class="content">
        <h2><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
        <p><%= post.description %></p>
        <ul class="actions stacked">
          <li><a href="<%- url_for(post.path) %>" class="button">Learn More</a></li>
        </ul>
      </div>
      <div class="image">
        <img src="<%= post.photos %>" alt="" />
      </div>
    </section>
  <% }) %>
</div>
<div class="paginator">
  <%- paginator({
    prev_text: '<apsn class="page-number">PREV</apsn>',
    next_text: '<apsn class="page-number">NEXT</apsn>',
    escape: false
  }) %>
</div>