<div id="wrapper" class="divided">
  <% page.posts.each(function(post){ %>
    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
      <div class="content">
        <h2><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
        <p><%= post.description %></p>
        <ul class="actions stacked">
          <li><a href="<%- url_for(post.path) %>" class="button">Learn More</a></li>
        </ul>
      </div>
      <div class="image">
        <img src="<%= post.photos %>" alt="" />
      </div>
    </section>
  <% }) %>
</div>
<style>
  .paginator {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }
  .paginator .page-number{
    display: inline-block;
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: 600;
    height: 2em;
    line-height: 2em;
    margin: 0 0.125em;
    min-width: 2em;
    padding: 0 0.5em;
    text-decoration: none;
  }
  .paginator .current{
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
  }
</style>
<div class="paginator">
  <%- paginator({
    prev_text: '<apsn class="page-number">PREV</apsn>',
    next_text: '<apsn class="page-number">NEXT</apsn>',
    escape: false
  }) %>
</div>